<h1>
  <%= t(".changes") %> 
  <% if current_user&.able_to_edit?(:change) %>
    <%= link_to bi("plus-square ms-2 text-primary"), new_lessons_change_path %>
  <% end %>
</h1>

<form id="date_form">
  <div class="row">
  <div class="col-5 col-lg-3">
  <input type="date" id="date_picker" name="date" value=<%= params[:date] || (Time.now.hour >= 20 ? Date.tomorrow : Date.today) %> class="mb-3 form-control form-control-date"/>
  </div>
  </div>
  <button type="submit", class="d-none btn btn-primary"><%= t(".show") %></button>
</form>

<%= javascript_include_tag 'date_picker', 'data-turbolinks-track': 'reload' %>

<div id="lessons_changes" class="card">
  <div class="card-body table-responsive">
    <table class="table table-responsive-md">
      <tr>
        <th><%= t('.group') %></th>
        <th><%= t('.lesson') %></th>
        <th><%= t('.subject') %></th>
        <th><%= t('.teacher') %></th>
        <th><%= t('.room') %></th>
        <% if current_user&.able_to_edit?(:schedule) %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    <% @lessons_changes.each do |lessons_change| %>
      <tr><%= render lessons_change %></tr>
    <% end %>
    </table>
  </div>
</div>
