<div class="row">
<div class="col-lg-7 col-xxl-5">
  <%= form_with(model: user, url: profile_path) do |form| %>
    <% if user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group mb-3">
      
    </div>

    <div class="mb-3">
      <%= form.label :tag, class:"form-label" %>
      
      <div class="input-group">
        <div class="input-group-text">
          @
        </div>
        <%= form.text_field :tag, class: 'form-control'%>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :group_id, class:"form-label" %>
      <%= form.collection_select :group_id, Group.all, :id, :name, {}, { class: "form-select mb-1" } %>
      <%= link_to bi("plus-square"), new_group_path%>
    </div>

    <div class="mb-3">
      <%= form.label :sub_to_schedule, class:"form-check-label" %>
      <%= form.check_box :sub_to_schedule, class: "form-check-input" %>
    </div>

    <div class="mb-3">
      <%= form.label :sub_to_changes, class:"form-check-label" %>
      <%= form.check_box :sub_to_changes, class: "form-check-input" %>
    </div>

    <div class="mb-3">
      <%= form.label :sub_to_all_events, class:"form-check-label" %>
      <%= form.check_box :sub_to_all_events, class: "form-check-input" %>
    </div>

    <div class="mb-3">
      <%= form.submit t(".save"), class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
</div>
