<div class="row">
<div class="col-lg-7 col-xxl-5">
<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> ошибок:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class:"form-label" %>
    <%= form.text_field :title, class: 'form-control'  %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class:"form-label" %>
    <%= form.text_area :description, class: 'form-control'  %>
  </div>

  <div class="mb-3">
    <%= form.label :datetime, class:"form-label" %>
    <%= form.datetime_field :datetime, class:"form-control form-control-date", min: Date.today.to_s %>
  </div>

  <div class="mb-3">
    <%= form.submit t(".save"), class: "btn btn-primary"%>
  </div>
<% end %>
</div>
</div>
