<div id="<%= dom_id lesson %>">
  <p>
    <strong><%= t('.number') %>:</strong>
    <%= lesson.number %>
  </p>

  <p>
    <strong><%= t('.week') %>:</strong>
    <%= lesson.week %>
  </p>

  <p>
    <strong><%= t('.group') %>:</strong>
    <%= lesson.schedule.group %>
  </p>

  <p>
    <strong><%= t('.weeks_day') %>:</strong>
    <%= lesson.schedule.weeks_day %>
  </p>

  <p>
    <strong><%= t('.subject') %>:</strong>
    <%= lesson.subject.name %>
  </p>

  <p>
    <strong><%= t('.teacher') %>:</strong>
    <%= lesson.teacher.name %>
  </p>

  <p>
    <strong><%= t('.room') %>:</strong>
    <%= lesson.room.number %>
  </p>

  <p>
    <strong><%= t('.changes') %>:</strong>
    <%= lesson.got_changes %>
  </p>
</div>
