<div id="<%= dom_id lesson %>">
  <p>
    <strong>Number:</strong>
    <%= lesson.number %>
  </p>

  <p>
    <strong>Week:</strong>
    <%= lesson.week %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= lesson.schedule_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= lesson.subject_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= lesson.teacher_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= lesson.room_id %>
  </p>

  <p>
    <strong>Got changes:</strong>
    <%= lesson.got_changes %>
  </p>

</div>
